@import url('../../bootstrap/fonts/glyphicons-halflings-regular.eot');
* {
    box-sizing: border-box;
  }
body {
    font-family: 'eot', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }