<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="../vuejs/vue.js"></script>
</head>
<body>
    <div id="root">
        <h1>学生信息</h1>
        <button @click="student.age++">年龄+1岁</button><br>
        <button @click="addSex">添加性别属性，默认值男</button><br>
        <button @click="student.sex='未知'">修改性别</button><br>
        <button @click="addFriend">在列表首位添加一个朋友</button><br>
        <button @click="student.friend[0].name='sb'">修改第一个朋友的名字为sb</button>
        <button></button>
        <h3>姓名:{{student.name}}</h3>
        <h3>年龄:{{student.age}}</h3>
        <h3 v-if="student.sex">性别:{{student.sex}}</h3>
        <h3>爱好:</h3>
        <ul>
            <li v-for="(p,index) in student.hobby" :key="index">
                {{p}}
            </li>
        </ul>
        <h3>朋友们:</h3>
        <ul>
            <li v-for="(f,index) in student.friend" ::key="index">
                {{f.name}}-{{f.age}}
            </li>
        </ul>
    </div>
    <script>
        Vue.config.productionTip=false
        const vm = new Vue({
            el:'#root',
            data:{
                student:{
                    name:'zs',
                    age:18,
                    hobby:[
                        '篮球',
                        '足球',
                        '排球',
                        '羽毛球'
                    ],
                    friend:[
                        {name:'ls',age:18},
                        {name:'ww',age:28}
                    ]
                },
            },
            methods: {
                    addSex(){
                        this.$set(this.student,'sex','男')
                    },
                    addFriend(){
                        this.student.friend.unshift({name:'ll',age:66})
                    }
                }
        })
    </script>
</body>
</html>